<div class="row">
    <div class="col-xs-12">
      <img src="" alt="" class="img-responsive">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h1>Recipe Name</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="btn-group" toggleDropDown>
        <button
          type="button"
          class="btn btn-primary dropdown-toggle">
          Manage Recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a href="#" (click)="AddtoShoppingList(receipeItem);">To Shopping List</a></li>
          <li><a href="#">Edit Recipe</a></li>
          <li><a href="#">Delete Recipe</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
         <img [src]="receipeItem.imagePath" [alt]="receipeItem.name"  style="width : 100px; height: 100px;"/>
      </div>
    <div class="col-xs-12">
      {{receipeItem.name}}
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        {{receipeItem.description}}
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let ingredeint of receipeItem.ingredeints">
            {{ingredeint.name }} - {{ingredeint.amount}}
          </li>
        </ul>
      </div>
  </div>
  
  