
<button class="btn btn-primary" (click)="showOdd = !showOdd">Show Odd Numbers Only</button>

<div *ngIf="showOdd">
  <div *ngFor="let number of oddNumbers">
      <div class="row">
          <div class="col-md-12" style="border: 1px solid green; margin-top: 5px;">
           <p>{{number}}</p>
           </div>
          </div>
  </div>
</div>
<div *ngIf="!showOdd">
    <div *ngFor="let number of evenNumbers">
        <div class="row">
            <div class="col-md-12" style="border: 1px solid green; margin-top: 5px;">
             <p>{{number}}</p>
             </div>
            </div>
    </div>
  </div>
